.auto-list {
  margin-top: $header-height;

  & .auto-item {
    padding: 12px;
    & .image {
      height: 200px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-bottom: $base-offset;
    }

    & .title {
      margin-bottom: $base-offset;

      & small{
        color: lighten(black, 50%)
      }
    }

    & .description {
      margin-bottom: $base-offset;
    }

    & .options{
      display: flex;
      justify-content: space-evenly;
      margin-bottom: $base-offset;

      &-option{
        flex-basis: 1px;

        button{
          background: none;
          background-color: #fcfdfd;
          border-color: #d5dde9;
          color: #91989E;
          border-radius: 4px;
          &:hover{
            background-color: $color-yellow;
            border-color: $color-yellow;
            color: #333;
          }
        }
      }
    }

    & .price{
      margin-bottom: $base-offset;
      text-align: center;
      font-size: 20px;
    }

    & .actions{
      text-align: center;

      button{
        height: 42px;
        background: none;
        border: none;
        border-radius: 4px;
        box-shadow: none;
        background-color: $color-yellow;

        &:hover{
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          color: #333;
          text-decoration: none;
        }
      }
    }
  }
}